Package: com.zweeden.blank
Name: blank
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Zachary Weeden
Author: Zachary Weeden
Section: Utilities
Version: 0.0.1-3+debug
Installed-Size: 144
