Package: com.zweeden.exittest
Name: exit test
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Zachary Weeden
Author: Zachary Weeden
Section: Utilities
Version: 0.0.1-2+debug
Installed-Size: 144
